html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/trianglify.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Raleway', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1 {
  font-weight: 300;
  text-align: center;
}

.fa {
  color: #333;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  background: rgb(254, 226, 212);
  background: linear-gradient(
    168deg,
    rgba(254, 226, 212, 1) 0%,
    rgba(219, 120, 99, 1) 100%
  );
  padding: 32px;
  border-radius: 10px;
  -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #fd8565;
  margin: 10px;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  background: #ffbfa8;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  margin-bottom: 10px;
  display: flex;
  align-content: space-around;
  padding: 0;
  list-style: none;
}

.score-panel .stars {
  display: inline-block;
  margin: 0 10px;
}

.score-panel .stars li {
  display: inline-block;
}

.score-panel .restart {
  /* float: right; */
  cursor: pointer;
  margin: 0 10px;
}

.score-panel .moves-container {
  margin: 0 10px;
}
.modal {
  width: 400px;
  color: #333;
  position: absolute;
  margin: 15em auto 0 auto;
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  padding: 0.75em;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
}

.modal--header,
.modal--body {
  text-align: center;
}

.modal--title {
  font-size: 4rem;
}

.modal--replay {
  background-color: #fd8565;
  padding: 1em;
  border-radius: 10px;
  border: none;
}

#stars--status {
  text-align: center;
  list-style: none;
}

#stars--status li {
  display: inline-block;
}

.hidden {
  -webkit-transform: translate(-9999px);
  -ms-transform: translate(-9999px);
  transform: translate(-9999px);
}

.noClick {
  pointer-events: none;
}

.blur {
  -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
  filter: blur(10px);
}

/* Animation come from Animate.CSS Library */
/* https://daneden.github.io/animate.css/ */

/* Shake Class for icons not matching */
@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
  animation-duration: 1s;
  animation-fill-mode: both;
}
